html, body {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
#project{
    margin-left: 30px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.way {
    fill: none;
    stroke: black;
}
.way:hover {
    cursor: crosshair;
}

.link {
    stroke-width: 0.75px;
}

.residential {
    stroke-width: 0.25px;
}

.tertiary {
    stroke-width: 0.75px;
}

.secondary {
    stroke-width: 1px;
}

.primary {
    stroke-width: 2px;
}

.trunk {
    stroke-width: 3px;
}

.motorway {
    stroke-width: 4px;
}
#Imap{
    width: 80%; height: 500px; border: 1px solid black; text-align: center;
}
#description{
     bottom:0; display: none;
}
#multi_charts{
    width: 65%; height: 400px; border: 1px solid black; position: absolute; display: none;
}
#Amap{
    height: 400px; border: 1px solid black; margin-left: 68%; display: none;
}
#timeline{
    width: 90%; height: 80px; border: 1px solid black; bottom: 0; display: none;
}
#filter_bar{
    display: none;
}